@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.react-datepicker__input-container input{
  border: 1px solid #CBCBCB;
  padding: 5px 10px;
  border-radius: 4px;
}
.react-datepicker-wrapper{
  @apply max-md:w-full
}